/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        activate_config_layer {
            bindings = <&to 3>;
            key-positions = <37 40>;
        };

        activate_config_layer_left {
            bindings = <&to 3>;
            key-positions = <36 37 38>;
        };

        activate_config_layer_right {
            bindings = <&to 3>;
            key-positions = <39 40 41>;
        };

        combo_open_menu {
            bindings = <&kp LG(SPACE)>;
            key-positions = <38 39>;
        };
    };

    behaviors {
        hrmr: hrmr {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mods - Right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-on-release;
            retro-tap;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 3 36 37 38 39 40 41>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
        };

        hrml: hrml {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mods - Left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC         &kp Q  &kp W                 &kp E                 &kp R             &kp T                   &kp Y                 &kp U             &kp I             &kp O                 &kp P     &kp UNDERSCORE
&kp TAB         &kp A  &hrml LEFT_CONTROL S  &hrml LEFT_ALT D      &hrml LEFT_GUI F  &kp G                   &kp H                 &hrmr LEFT_GUI J  &hrmr LEFT_ALT K  &hrmr LEFT_CONTROL L  &kp SEMI  &kp SQT
&sk LEFT_SHIFT  &kp Z  &kp X                 &kp C                 &kp V             &kp B                   &kp N                 &kp M             &kp COMMA         &kp DOT               &kp FSLH  &kp GRAVE
                                             &kp LS(LA(LC(LGUI)))  &mo 2             &mt LEFT_SHIFT SPACE    &mt LEFT_SHIFT ENTER  &mo 1             &kp DELETE
            >;

            label = "HOME";
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE  &kp EXCL       &kp AT  &kp HASH              &kp DLLR        &kp PRCNT               &kp CARET              &kp AMPS         &kp ASTERISK       &kp MINUS         &kp PLUS      &kp EQUAL
&kp TAB     &kp BACKSLASH  &kp LT  &kp LEFT_BRACKET      &kp LEFT_BRACE  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp COLON     &kp DOUBLE_QUOTES
&caps_word  &kp PIPE       &none   &none                 &none           &none                   &none                  &none            &none              &none             &kp QUESTION  &kp TILDE
                                   &kp LS(LA(LC(LGUI)))  &trans          &kp BACKSPACE           &kp ENTER              &trans           &kp DEL
            >;

            label = "SYM";
        };

        navigation_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LC(TILDE)   &kp N1  &kp N2  &kp N3                &kp N4  &kp N5           &kp N6                &kp N7    &kp N8         &kp N9       &kp N0     &kp LC(X)
&kp LC(TAB)     &kp F1  &kp F2  &kp F3                &kp F4  &kp F5           &kp C_AC_SCROLL_UP    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &kp LC(C)
&kp LEFT_SHIFT  &kp F6  &kp F7  &kp F8                &kp F9  &kp F10          &kp C_AC_SCROLL_DOWN  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &kp LC(V)
                                &kp LS(LA(LC(LGUI)))  &trans  &kp BACKSPACE    &kp RET               &trans    &kp DEL
            >;

            label = "NAV";
        };

        config_layer {
            bindings = <
&sys_reset   &none  &none  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1    &kp C_PLAY_PAUSE       &kp C_PREV            &kp C_NEXT            &none  &none  &sys_reset
&none        &none  &none  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp C_MUTE             &kp C_VOL_DN          &kp C_VOL_UP          &none  &none  &none
&bootloader  &none  &none  &none         &kp LG(L)     &kp C_POWER     &kp C_BRIGHTNESS_AUTO  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none  &none  &bootloader
                           &to 0         &to 0         &to 0           &to 0                  &to 0                 &to 0
            >;

            label = "CONF";
        };
    };
};
